.idea
./auth-service/target
./catalog-service/target
./shopping-cart-service/target
./registry/target
./gateway/target
./config-service/target
./notification-service/target

/bike-market.iml
/auth-service/auth-service.iml
/catalog-service/catalog-service.iml
/shopping-cart-service/shopping-cart-service.iml
/registry/registry.iml
/gateway/gateway.iml
/config-service/config-service.iml
/notification-service/notification-service.iml